@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* user form
.form-title
	display: block
	+font-alt-bold
	+font($font-size-h2, $line-height-h2)
	color: $title-color
	text-align: center
	margin-bottom: $bottom-space--md

.user-form
	background: $bg-color-alt
	+padding-vertical((nth($text-layout-space, 1)))
	margin-bottom: $bottom-space
	border: solid $border-color
	border-width: 1px 0

	&:last-child
		margin-bottom: 0

	+media('<tab-lg')
		+padding-vertical((nth($text-layout-space--md, 1)))

	+media('<mob-lg')
		+padding-vertical((nth($text-layout-space--sm, 1)))

	form
		display: block

	.input-wrap
		margin-bottom: 50px

	textarea
		height: 130px
		max-height: 130px
		resize: none

	.captcha
		+display-inline-block-top
		+clear-spacing
		position: relative // Важно! Для позицирования отметки подтверждения полей формы
		z-index: 1 // Важно! Отметка подтверждения полей формы имеет z-index: -1

		+clear

		img
			$margin-right: 20px
			display: inline-block
			vertical-align: middle
			max-width: calc(50%)
			margin-right: $margin-right

			& + input
				display: inline-block
				vertical-align: middle
				width: 200px

		+media('<tab-lg')
			img
				display: block
				max-width: none
				margin-bottom: $bottom-space--sm

				& + input
					display: block
					max-width: none
					width: 100%

	.form-footer
		+clear

		+media('<mob-lg')
			padding-top: $bottom-space--sm

	.form-buttons
		float: left
		margin-right: 30px

		+media('<mob-lg')
			float: none
			margin: 0

		.btn-submit
			width: 200px

	.form-note
		overflow: hidden
		min-height: 50px
		+clear-spacing
		line-height: 25px

		&::before
			content: ''
			display: inline-block
			vertical-align: middle
			min-height: inherit

	.form-note__item
		display: inline-block
		vertical-align: middle
		width: calc(100% - 6px)
		+font($font-size--sm, $line-height--sm)
		letter-spacing: normal

/* user form end

/* slick sliders
// slider
.slick-slide
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important
	-webkit-focus-ring-color: rgba(255, 255, 255, 0) !important
	outline: none !important

// arrows
.slick-arrow
	+size(40px, 100%)
	display: block
	position: absolute
	border: none
	border-radius: 0
	background: none
	outline: none
	box-shadow: none
	opacity: 0.6
	z-index: 6
	//transition:
		property: background, opacity, visibility
		duration: $animation-speed

	&::before
		$size: 24px
		content: ""
		display: block
		position: absolute
		left: 50%
		top: 50%
		+size($size)
		margin: -#{round($size/2)} 0 0 -#{round($size/2)}
		background-repeat: no-repeat
		background-position: center
		background-size: contain

	.no-touchevents &:hover
		opacity: 1

	&.slick-disabled, .no-touchevents &.slick-disabled
		opacity: 0.25
		cursor: default

		&::before
			opacity: 1

.slick-prev
	left: 0

	&::before
		background-image: url(../../img/slider-arr-left.svg)

.slick-next
	right: 0

	&::before
		background-image: url(../../img/slider-arr-right.svg)

// dots
.slick-dots
	margin: 0
	line-height: 0

	.#{$user-content} &
		margin: 0
		max-width: none

	li
		vertical-align: top
		width: auto
		height: auto
		margin: 0

		&, .#{$user-content} &
			padding: 4px 10px
			margin: 0

			&::before
				content: none

		button
			+size(20px)
			padding: 0
			border-radius: 50%
			background: #ccc
			position: relative
			box-shadow: 0 3px 6px rgba(black, 0.15)
			$prop: background, transform
			$scale: 0.6
			will-change: $prop
			transition:
				property: $prop
				duration: $animation-speed
			transform: scale($scale)
			transform: scale3d($scale, 1)

			&::before
				content: none

		&.slick-active button
			$scale: 1
			background-color: white
			transform: scale($scale)
			transform: scale3d($scale, 1)

//.no-touchevents &:hover button::before
/* slick sliders end

/* breadcrumbs
.breadcrumbs
	margin-bottom: 20px

	+media('<desk-lg')
		margin-bottom: $bottom-space--ml

	&:last-child
		margin-bottom: 0

.breadcrumbs__list
	&, .#{$user-content} &
		padding: 0
		margin: 0
		list-style: none

		li
			padding: 0
			margin: 0

			&::before, &:first-child::before
				content: none

	cursor: default
	overflow: hidden
	+font($font-size--sm, $line-height--sm)

	.layout-article &
		max-width: none

	li
		display: inline
		position: relative

		&::after
			display: inline-block
			vertical-align: baseline
			content: '/'
			border: none
			padding-left: 5px

		&:last-child::after
			content: none

	a
		padding-top: 0.5em
		color: $link-color
		text-decoration: none
		cursor: pointer

		span
			border-bottom: 1px solid rgba($base-color, 0.3)

		.no-touchevents &:hover
			color: $base-color

			span
				border-color: transparent

/* breadcrumbs end

/* files links
.file
	$file-icon-size: 42px
	+display-inline-block-top
	min-height: $file-icon-size
	+font($font-size--sm, $line-height--sm)
	color: $text-color
	text-decoration: none

	+clear

	svg
		float: left
		+size($file-icon-size)

	& > span, & > em
		display: block
		margin-left: #{$file-icon-size}
		margin-bottom: 0.3em
		padding-left: 1em

	& > em
		font-size: 0.8em
		color: $text-color-light
		margin-bottom: 0

	.no-touchevents &:hover
		color: $base-color

.st-bg
	fill: #e2e5e7

.st-corner
	fill: #b0b7bd

.st-shadow
	fill: #cad1d8

.st-text
	fill: #fff

/* files links end

/* feature list
.feature-list
	margin-bottom: $bottom-space--md

	&:last-child
		margin-bottom: 0

.feature-list__item
	margin-bottom: $bottom-space
	+clear

	&:last-child
		margin-bottom: 0

.feature-list__img
	float: left
	width: 25%
	margin: 0.3em $bottom-space $bottom-space--sm 0

	+media("<mob-lg")
		width: auto
		float: none
		margin-right: 0

.feature-list__content
	overflow: hidden

	h3, p
		margin-bottom: $bottom-space--sm

		&:last-child
			margin-bottom: 0

/* feature list end

/* social networks
.social-networks
	margin-bottom: $bottom-space

	&:last-child
		margin-bottom: 0

	.footer &
		text-align: center

.social-networks__list
	position: relative
	display: inline-block
	vertical-align: top
	+font(14px, 1.5)
	letter-spacing: normal
	margin: 0 -4px -10px

.social-networks__item
	float: left
	margin: 0 4px 10px

	a
		display: block
		position: relative
		+size(30px)
		border-radius: 30px
		background: white
		color: white
		border: 2px solid transparent
		transition:
			property: box-shadow
			duration: $animation-speed

		&.fb
			background-color: $facebook-color

		&.twitter
			background-color: $twitter-color

		&.youtube
			background-color: $youtube-color

		span
			+hide-text

		svg
			+centering-transform-abs
			+size(14px)

		path
			fill: currentColor

		// hover
		.no-touchevents &:hover
			border-color: rgba(black, 0.3)

/* share
.share-box
	display: flex
	align-items: center

	.article-footer &
		+media('<mob-lg')
			justify-content: center

.share-box__label
	display: inline-block
	display: flex
	+font-bold
	+font(14px, 24px)
	color: $text-color-light
	text-transform: uppercase
	margin-right: 10px

/* share end
/* social networks end

/* accordion
.accordion
	margin-bottom: 4rem

	&:last-child
		margin-bottom: 0

.accordion__item
	position: relative
	background-color: #fff
	border-radius: 5px
	border: 2px solid $border-color
	margin-bottom: 2rem
	will-change: transform, box-shadow
	box-shadow: 0 3px 3px rgba(black, 0.1)

	&:last-child
		margin-bottom: 0

.accordion__header
	position: relative
	z-index: 2

	.accordion__panel &
		z-index: 1

.accordion__hand
	position: relative
	padding: nth($accordion-space, 1) nth($accordion-space, 2)
	padding-right: nth($accordion-space, 1)*2+nth($accordion-angle-size, 2)
	cursor: pointer
	user-select: none

	+media('<tab-lg')
		padding: nth($accordion-space--sm, 1) nth($accordion-space--sm, 2)
		padding-right: nth($accordion-space--sm, 1)*2+nth($accordion-angle-size, 2)

	+media('<mob-lg')
		padding: nth($accordion-space--mob, 1) nth($accordion-space--mob, 2)
		padding-right: nth($accordion-space--mob, 1)*2+nth($accordion-angle-size, 2)

	.accordion__header__text
		+font-bold
		+font(20px, round-float(24/20, 2))

		+media('<tab-lg')
			font-size: 18px

		+media('<mob-lg')
			font-size: 16px

	.accordion__header__angle
		display: block
		position: absolute
		//right: nth($accordion-space, 2)
		@if nth($accordion-space, 1) > 18px
			right: 18px
		@else
			right: $accordion-space

		top: 50%
		+size(nth($accordion-angle-size, 1), nth($accordion-angle-size, 2))
		border-radius: 50%
		margin-top: -#{round(nth($accordion-angle-size, 2)*0.5)}
		background-color: $base-color

		+media('<tab-lg')
			right: nth($accordion-space--sm, 2)

		+media('<mob-lg')
			right: nth($accordion-space--mob, 2)

		&::before, &::after
			+pseudo()
			left: 50%
			top: 50%
			margin: -#{round(nth($accordion-angle-line-size, 2)/2)} 0 0 -#{round(nth($accordion-angle-line-size, 1)/2)}
			backface-visibility: hidden
			+size(nth($accordion-angle-line-size, 1), nth($accordion-angle-line-size, 2))
			background-color: white
			will-change: transform
			transition:
				property: transform
				duration: $animation-speed

		&::before
			transform: rotate(-0.25turn)
			transform: rotate(-0.25turn) translateZ(0)

		//&::after
			transform: rotate(-270deg) translateZ(0)

			.ie9 &
				transform: rotate(-270deg)

	// hover, active
	//.no-touchevents &:hover, &.is-open
		background-color: $bg-color-alt

	// active
	&.is-open
		.accordion__header__angle
			&::before, &::after
				transform: rotate(0)
				transform: rotate(0) translateZ(0)

.accordion__panel
	display: none

.accordion__panel__frame
	position: relative
	will-change: opacity
	opacity: 0
	transition:
		property: opacity
		duration: $animation-speed

	.is-open > &
		opacity: 1
		transition-delay: 0.08s

.accordion__panel__content
	padding: 10px nth($accordion-space, 2) nth($accordion-space, 1)*1.5

	+media('<tab-lg')
		padding: 10px nth($accordion-space--sm, 2) nth($accordion-space--sm, 1)*1.5

	+media('<mob-lg')
		padding: 10px nth($accordion-space--mob, 2) nth($accordion-space--mob, 1)*1.5

	& > p, & > ul, & > li, & > h2, & > h3, & > h4
		&:last-child
			margin-bottom: 0

/* accordion end

/* promo slider
// slider
.promo-slider__list
	// before slide load
	white-space: nowrap
	overflow: hidden
	// before slide load end

	&, &.slick-dotted
		margin: 0

	&.slick-initialized, .no-js &
		// after slide load
		white-space: normal
		overflow: visible
		// after slide load end

// slide
.promo-slider__item
	text-decoration: none
	color: inherit
	position: relative
	// before slide load
	float: none
	display: inline-block
	vertical-align: top
	// before slide load end

	&::before
		content: ""
		display: block
		+ratio(1260, 450)

	.slick-initialized &
		// after slide load
		float: left
		display: block
		// after slide load end

	img
		display: block
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		max-width: none
		margin: 0 auto
		+object-fit(cover)

.promo-slider__list
	// dots
	.slick-dots
		bottom: 20px

		+media('<mob-lg')
			bottom: 10px

	// arrows
	.slick-arrow
		width: 74px

		&::before
			$size: 64px
			+size($size)
			margin: -#{round($size/2)} 0 0 -#{round($size/2)}

	.slick-next
		&::before
			background-image: url(../../img/slider-arr-left-shadow.svg)

	.slick-next
		&::before
			background-image: url(../../img/slider-arr-right-shadow.svg)

/* promo slider end

/* links
.main-section--links
	+padding-vertical(35px, 40px)

$links-icon-size: 92px
$links-icon-size--mob: 50px
//=============================
.links
	overflow: hidden
	padding-bottom: 4rem

	&:last-child
		padding-bottom: 0

.links__list
	margin: -20px -10px 0
	+clear-spacing

.links__item
	display: inline-block
	vertical-align: top
	width: calc(100% / 3)
	padding: 20px 10px 0
	+font-alt
	+font(2.4rem, round-float(30/24, 2))
	letter-spacing: normal

.links__item__inner
	text-decoration: none
	position: relative
	overflow: hidden
	color: inherit
	display: flex
	align-items: center
	padding: 20px $links-icon-size 20px 20px
	min-height: 105px
	background-color: white
	border-radius: 10px
	box-shadow: 0 3px 3px rgba(black, 0.1)
	//transition:
		property: background-color, color
		duration: $animation-speed

	svg
		display: block
		position: absolute
		right: -10px
		bottom: -10px
		+size(102px)
		will-change: opacity
		//transition:
			property: opacity
			duration: $animation-speed

	//path
		transition:
			property: fill
			duration: $animation-speed

	// hover
	&:hover
		background-color: #f6493c
		color: white

		svg
			opacity: 0.3

		path
			fill: white

/* links end