@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* user form
.user-form
	margin-bottom: $bottom-space

	&:last-child
		margin-bottom: 0

	&.layout-text
		max-width: 600px

		+media('<tab-lg')
			max-width: 600px

	form
		display: block

	textarea
		height: 130px
		max-height: 130px
		resize: none

	.form-footer
		+clear

		.input-wrap
			&:first-child
				text-align: right

				+media('<mob-lg')
					text-align: center

			+media('<mob-lg')
				text-align: center

/* user form end

/* slick sliders
// slider
.slick-slide
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important
	-webkit-focus-ring-color: rgba(255, 255, 255, 0) !important
	outline: none !important

// arrows
.slick-arrow
	+size(40px, 100%)
	display: block
	position: absolute
	border: none
	border-radius: 0
	background: none
	outline: none
	box-shadow: none
	opacity: 0.6
	z-index: 6
	//transition:
		property: background, opacity, visibility
		duration: $animation-speed

	&::before
		$size: 24px
		content: ""
		display: block
		position: absolute
		left: 50%
		top: 50%
		+size($size)
		margin: -#{round($size/2)} 0 0 -#{round($size/2)}
		background-repeat: no-repeat
		background-position: center
		background-size: contain

	.no-touchevents &:hover
		opacity: 1

	&.slick-disabled, .no-touchevents &.slick-disabled
		opacity: 0.25
		cursor: default

		&::before
			opacity: 1

.slick-prev
	left: 0

	&::before
		background-image: url(../../img/slider-arr-left.svg)

.slick-next
	right: 0

	&::before
		background-image: url(../../img/slider-arr-right.svg)

// dots
.slick-dots
	margin: 0
	line-height: 0

	.#{$user-content} &
		margin: 0
		max-width: none

	li
		vertical-align: top
		width: auto
		height: auto
		margin: 0

		&, .#{$user-content} &
			padding: 4px 10px
			margin: 0

			+media('<mob-md')
				padding: 2px 3px

			&::before
				content: none

		button
			+size(20px)
			padding: 0
			border-radius: 50%
			background: #ccc
			position: relative
			box-shadow: 0 3px 6px rgba(black, 0.15)
			$prop: background, transform
			$scale: 0.6
			will-change: $prop
			transition:
				property: $prop
				duration: $animation-speed
			transform: scale($scale)
			transform: scale3d($scale, $scale, 1)

			+media('<tab-lg')
				+size(16px)

			&::before
				content: none

		&.slick-active button
			$scale: 1
			background-color: white
			transform: scale($scale)
			transform: scale3d($scale, $scale, 1)

//.no-touchevents &:hover button::before
/* slick sliders end

/* breadcrumbs
.breadcrumbs
	margin-bottom: 20px
	+padding-horizontal(nth($page-layout-space, 2))
	// для страници каталога
	position: relative
	display: inline-block
	vertical-align: top
	z-index: $z-i-cover

	+media('<mob-lg')
		+padding-horizontal(nth($page-layout-space--mob, 2))
		display: none

	.layout &
		+padding-horizontal(0)

	&:last-child
		margin-bottom: 0

.breadcrumbs__list
	&, .#{$user-content} &
		padding: 0
		margin: 0
		list-style: none

		li
			padding: 0
			margin: 0 4px 0 0

			&::before, &:first-child::before
				content: none

	cursor: default
	overflow: hidden
	+font($font-size--sm, $line-height--sm)

	.layout-article &
		max-width: none

	li
		display: inline
		position: relative

		&::after
			display: inline-block
			vertical-align: baseline
			content: '/'
			border: none
			padding-left: 5px

		&:last-child::after
			content: none

	a
		padding-top: 0.5em
		color: $link-color
		text-decoration: none
		cursor: pointer

		span
			border-bottom: 1px solid rgba($base-color, 0.3)

		.no-touchevents &:hover
			color: $base-color

			span
				border-color: transparent

/* breadcrumbs end

/* files links
.file
	$file-icon-size: 42px
	+display-inline-block-top
	min-height: $file-icon-size
	+font($font-size--sm, $line-height--sm)
	color: $text-color
	text-decoration: none

	+clear

	svg
		float: left
		+size($file-icon-size)

	& > span, & > em
		display: block
		margin-left: #{$file-icon-size}
		margin-bottom: 0.3em
		padding-left: 1em

	& > em
		font-size: 0.8em
		color: $text-color-light
		margin-bottom: 0

	.no-touchevents &:hover
		color: $base-color

.st-bg
	fill: #e2e5e7

.st-corner
	fill: #b0b7bd

.st-shadow
	fill: #cad1d8

.st-text
	fill: #fff

/* files links end

/* feature list
.feature-list
	max-width: $text-layout-width
	margin: 0 auto 4rem

	&:last-child
		margin-bottom: 0

.feature-list__item
	margin-bottom: $bottom-space
	+clear

	&:last-child
		margin-bottom: 0

.feature-list__img
	float: left
	width: 25%
	margin: 0 1em 1em 0

	+media("<mob-lg")
		width: auto
		max-width: 50%
		float: none
		margin: 0 0 1.5em 0

.feature-list__content
	overflow: hidden

	h3, p
		margin-bottom: $bottom-space--sm

		&:last-child
			margin-bottom: 0

/* feature list end

/* social networks
.social-networks
	margin-bottom: $bottom-space

	&:last-child
		margin-bottom: 0

	.footer &
		text-align: center

.social-networks__list
	position: relative
	display: inline-block
	vertical-align: top
	+font(14px, 1.5)
	letter-spacing: normal
	margin: 0 -4px -10px

.social-networks__item
	float: left
	margin: 0 4px 10px

	a
		display: block
		position: relative
		+size(30px)
		border-radius: 30px
		background: white
		color: white
		border: 2px solid transparent
		transition:
			property: box-shadow
			duration: $animation-speed

		&.fb
			background-color: $facebook-color

		&.twitter
			background-color: $twitter-color

		&.youtube
			background-color: $youtube-color

		&.instagram
			background-color: $instagram-color-end

		span
			+hide-text

		svg
			+centering-transform-abs
			+size(14px)

		path
			fill: currentColor

		// hover
		.no-touchevents &:hover
			border-color: rgba(black, 0.3)

/* share
.share-box
	display: flex
	align-items: center

	.article-footer &
		+media('<mob-lg')
			justify-content: center

.share-box__label
	display: inline-block
	display: flex
	+font-bold
	+font(14px, 24px)
	color: $text-color-light
	text-transform: uppercase
	margin-right: 10px

/* share end
/* social networks end

/* pagination
.pagination-wrap
	position: relative

.pagination
	overflow: hidden
	margin-bottom: $bottom-space--lg
	+font-alt-bold
	color: inherit
	text-align: center
	cursor: default
	+push-auto
	+clear

	+media('<mob-lg')
		margin-bottom: $bottom-space

	&:last-child
		margin-bottom: 0

.pg-left, .pg-right
	display: inline-block
	vertical-align: top

.pg-prev, .pg-next
	display: block
	position: relative
	+size(nth($pagination-item-size, 1), nth($pagination-item-size, 2))
	border: $pagination-border-width solid #ccc
	color: $text-color
	border-radius: 10px
	text-decoration: none
	// transition
	$prop: border-color, background-color, color
	will-change: $prop
	transition:
		property: $prop
		duration: $animation-speed

	+media('<mob-md')
		height: nth($pagination-item-size--sm, 2)
		width: nth($pagination-item-size--sm, 1)

	span
		display: none

	// hover
	.no-touchevents &:hover
		border-color: $link-color

	// disabled
	&.disabled, .no-touchevents &.disabled
		cursor: default
		color: #ddd
		border-color: #ddd

.pg-prev-arr, .pg-next-arr
	position: absolute
	+position(50%, 50%)
	+size(12px)
	margin: -6px 0 0 -6px
	letter-spacing: 0

	svg
		display: block
		+size(100%)

	path
		fill: currentColor

.pg-list
	+display-inline-block-middle

	&, .#{$user-content} &
		margin: 0

		li
			margin: round(nth($pagination-space, 1)/2) round(nth($pagination-space, 2)/2)
			padding: 0

			+media('<mob-md')
				margin: round(nth($pagination-space--sm, 1)/2) round(nth($pagination-space--sm, 2)/2)

			&:before
				content: none

	&
		+clear-spacing

	li
		+display-inline-block-top
		text-align: center

		a, & > span
			+display-inline-block-top
			color: inherit
			background: transparent
			min-width: nth($pagination-item-size, 1)
			height: nth($pagination-item-size, 2)
			padding: 0 5px
			border-radius: 10px
			border: 2px solid #ccc
			font-size: $pagination-font-size
			line-height: #{nth($pagination-item-size, 2) - $pagination-border-width}
			letter-spacing: normal
			text-transform: uppercase
			// transition
			$prop: border-color, background-color, color
			will-change: $prop
			transition:
				property: $prop
				duration: $animation-speed

			+media('<mob-md')
				min-width: nth($pagination-item-size--sm, 1)
				height: nth($pagination-item-size--sm, 2)
				font-size: 14px
				line-height: #{nth($pagination-item-size--sm, 2) - $pagination-border-width*2}

		a
			text-decoration: none
			cursor: pointer

			// hover
			.no-touchevents &:hover
				border-color: $link-color

		// active
		&.active span
			color: white
			border-color: $link-color
			background-color: $link-color

/* pagination end

/* accordion
.accordion
	margin-bottom: 4rem

	&:last-child
		margin-bottom: 0

.accordion__item
	position: relative
	background-color: #fff
	border-radius: 5px
	border: 2px solid $border-color
	margin-bottom: 2rem
	will-change: transform, box-shadow
	box-shadow: 0 3px 3px rgba(black, 0.1)

	&:last-child
		margin-bottom: 0

.accordion__header
	position: relative
	z-index: 2

	.accordion__panel &
		z-index: 1

.accordion__hand
	position: relative
	padding: nth($accordion-space, 1) nth($accordion-space, 2)
	padding-right: nth($accordion-space, 1)*2+nth($accordion-angle-size, 2)
	cursor: pointer
	user-select: none

	+media('<tab-lg')
		padding: nth($accordion-space--sm, 1) nth($accordion-space--sm, 2)
		padding-right: nth($accordion-space--sm, 1)*2+nth($accordion-angle-size, 2)

	+media('<mob-lg')
		padding: nth($accordion-space--mob, 1) nth($accordion-space--mob, 2)
		padding-right: nth($accordion-space--mob, 1)*2+nth($accordion-angle-size, 2)

	.accordion__header__text
		+font-bold
		+font(20px, round-float(24/20, 2))

		+media('<tab-lg')
			font-size: 18px

		+media('<mob-lg')
			font-size: 16px

	.accordion__header__angle
		display: block
		position: absolute
		//right: nth($accordion-space, 2)
		@if nth($accordion-space, 1) > 18px
			right: 18px
		@else
			right: $accordion-space

		top: 50%
		+size(nth($accordion-angle-size, 1), nth($accordion-angle-size, 2))
		border-radius: 50%
		margin-top: -#{round(nth($accordion-angle-size, 2)*0.5)}
		background-color: $base-color

		+media('<tab-lg')
			right: nth($accordion-space--sm, 2)

		+media('<mob-lg')
			right: nth($accordion-space--mob, 2)

		&::before, &::after
			+pseudo()
			left: 50%
			top: 50%
			margin: -#{round(nth($accordion-angle-line-size, 2)/2)} 0 0 -#{round(nth($accordion-angle-line-size, 1)/2)}
			backface-visibility: hidden
			+size(nth($accordion-angle-line-size, 1), nth($accordion-angle-line-size, 2))
			background-color: white
			will-change: transform
			transition:
				property: transform
				duration: $animation-speed

		&::before
			transform: rotate(-0.25turn)
			transform: rotate(-0.25turn) translateZ(0)

		//&::after
			transform: rotate(-270deg) translateZ(0)

			.ie9 &
				transform: rotate(-270deg)

	// hover, active
	//.no-touchevents &:hover, &.is-open
		background-color: $bg-color-alt

	// active
	&.is-open
		.accordion__header__angle
			&::before, &::after
				transform: rotate(0)
				transform: rotate(0) translateZ(0)

.accordion__panel
	display: none

.accordion__panel__frame
	position: relative
	will-change: opacity
	opacity: 0
	transition:
		property: opacity
		duration: $animation-speed

	.is-open > &
		opacity: 1
		transition-delay: 0.08s

.accordion__panel__content
	padding: 10px nth($accordion-space, 2) round(nth($accordion-space, 1)*1.5)

	+media('<tab-lg')
		padding: 10px nth($accordion-space--sm, 2) round(nth($accordion-space--sm, 1)*1.5)

	+media('<mob-lg')
		padding: 10px nth($accordion-space--mob, 2) round(nth($accordion-space--mob, 1)*1.5)

	& > p, & > ul, & > li, & > h2, & > h3, & > h4
		&:last-child
			margin-bottom: 0

/* accordion end

/* promo slider
// slider
.promo-slider__list
	// before slide load
	white-space: nowrap
	overflow: hidden
	// before slide load end

	&, &.slick-dotted
		margin: 0

	&.slick-initialized, .no-js &
		// after slide load
		white-space: normal
		overflow: visible
		// after slide load end

// slide
.promo-slider__item
	text-decoration: none
	color: inherit
	position: relative
	// before slide load
	float: none
	display: inline-block
	vertical-align: top
	// before slide load end

	&::before
		content: ""
		display: block
		+ratio(1260, 450)

		+media('<mob-lg')
			padding-top: round-float(482 / 640 * 100%, 2)

	.slick-initialized &
		// after slide load
		float: left
		display: block
		// after slide load end

	img
		display: block
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		max-width: none
		margin: 0 auto
		+object-fit(cover)

		&.img-mob
			display: none

		+media('<mob-md')
			&
				display: none

			&.img-mob
				display: block

.promo-slider__list
	// dots
	.slick-dots
		bottom: 20px

		+media('<tab-lg')
			bottom: 15px

	// arrows
	.slick-arrow
		width: 74px

		+media('<tab-lg')
			width: 34px

		&::before
			$size: 24px
			+size($size)
			margin: -#{round($size/2)} 0 0 -#{round($size/2)}

			+media('<tab-lg')
				$size: 24px
				+size($size)
				margin: -#{round($size/2)} 0 0 -#{round($size/2)}

	.slick-prev
		&::before
			background-image: url(../../img/slider-arr-left-shadow.svg)

	.slick-next
		&::before
			background-image: url(../../img/slider-arr-right-shadow.svg)

/* promo slider end

/* links
.main-section--links
	+padding-vertical(35px, 40px)

.links
	overflow: hidden
	padding-bottom: 4rem

	&:last-child
		padding-bottom: 0

.links__list
	margin: -20px -10px 0
	+clear-spacing

	+media('<mob-lg')
		margin: -10px -5px 0

.links__item
	display: inline-block
	vertical-align: top
	width: calc(100% / 3)
	padding: 20px 10px 0
	+font-alt
	+font(2.4rem, round-float(30/24, 2))
	letter-spacing: normal

	+media('<tab-lg')
		font-size: 2.0rem

	+media('<tab-sm')
		width: calc(100% / 2)

	+media('<mob-lg')
		padding: 10px 5px 0

	+media('<mob-md')
		width: 100%

.links__item__inner
	text-decoration: none
	position: relative
	overflow: hidden
	color: inherit
	display: flex
	align-items: center
	padding: 20px 100px 20px 20px
	min-height: 105px
	height: 100%
	z-index: 1
	background-color: white
	border-radius: 10px
	box-shadow: 0 3px 3px rgba(black, 0.1)
	transition:
		property: color
		//duration: round-float($animation-speed*2, 1)
		duration: $animation-speed

	+media('<desk-sm')
		min-height: 90px
		padding-right: 80px

	&::before
		content: ""
		display: block
		position: absolute
		$space: 50px
		$size: 800px
		$halfSize: #{round($size/2)}
		right: $space
		bottom: $space
		+size($size)
		margin: 0 -#{$halfSize} -#{$halfSize} 0
		border-radius: $size
		background-color: #f6493c
		z-index: -1
		opacity: 0
		$prop: opacity, transform
		will-change: $prop
		transition:
			property: $prop
			duration: round-float($animation-speed*3, 1)
		$scale: 0
		transform: scale($scale)
		transform: scale3d($scale, $scale, 1)

	.links__item:nth-child(1) &
		&::before
			background-color: #218ac2

	.links__item:nth-child(2) &
		&::before
			background-color: #f863a3

	.links__item:nth-child(3) &
		&::before
			background-color: #9c55ba

	.links__item:nth-child(4) &
		&::before
			background-color: #95ce31

	.links__item:nth-child(5) &
		&::before
			background-color: #ffc000

	.links__item:nth-child(6) &
		&::before
			background-color: #fc9720

	.links__item:nth-child(7) &
		&::before
			background-color: #ff3900

	.links__item:nth-child(8) &
		&::before
			background-color: #61b9f8

	.links__item:nth-child(9) &
		$color: #2abb4b
		&::before
			background-color: $color

	svg
		display: block
		position: absolute
		right: -10px
		bottom: -10px
		+size(102px)
		$prop: opacity, transform
		will-change: $prop
		transition:
			property: $prop
			duration: round-float($animation-speed*2, 1)

		+media('<desk-sm')
			+size(86px)

	path
		transition:
			property: fill
			duration: round-float($animation-speed*2, 1)

	// hover
	&:hover
		//background-color: #f6493c
		color: white
		transition:
			duration: round-float($animation-speed*2, 1)
			//duration: $animation-speed

		&::before
			opacity: 1
			$scale: 1
			transform: scale($scale)
			transform: scale3d($scale, $scale, 1)
			//transition:
				duration: round-float($animation-speed*2, 1)

		svg
			opacity: 0.3
			$rotate: -15deg
			$scale: 1.3
			$translate: -5px, -5px
			transform: rotate($rotate) scale($scale) translate($translate)
			transform: rotate3d(0, 0, 1, $rotate) scale3d($scale, $scale, 1) translate3d($translate, 0)

		path
			fill: white

/* links end

/* products preview / product
.product
	display: block
	position: relative
	padding: $product-space
	letter-spacing: normal
	color: inherit
	text-decoration: none
	text-align: center
	background-color: white
	border-radius: 10px
	box-shadow: 0 3px 3px rgba(black, 0.1)
	z-index: 1

	+media('<mob-md')
		padding: $product-space--mob

.product__img
	position: relative
	display: block
	padding: 0
	width: 190px
	max-width: 100%
	margin: 0 auto 2rem

	&::before
		content: ""
		display: block
		+ratio(190, 190)

	img
		display: block
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		max-width: none
		margin: 0 auto
		+object-fit(scale-down)

.product__title
	text-align: center
	+font-alt-bold
	+font(2.0rem, round-float(30/20, 2))

	//+media('<mob-md')
	+media('<tab-sm')
		//font-size: 1.2rem
		font-size: 1.3rem

	.similar-slider &
		overflow: hidden
		height: 2.0rem * round-float(30/20, 2) * 2

		+media('<tab-sm')
			height: 1.3rem * round-float(30/20, 2) * 2

.product__labels
	position: absolute
	left: 10px
	top: 10px
	z-index: 1

.product__label
	width: 61px
	height: 61px
	text-align: left
	text-indent: -9999px
	overflow: hidden
	background-repeat: no-repeat
	background-position: center
	background-size: contain

	+media('<mob-md')
		width: 40px
		height: 40px

	& ~ .product__label
		margin-top: -40%

.product__label--new
	background-image: url(../../img/label-new.png)

.product__label--bestseller
	background-image: url(../../img/label-bestseller.png)

// hover
.no-touchevents .product
	transition:
		property: box-shadow
		duration: $animation-speed

	.product__img
		// transition
		$prop: transform
		will-change: $prop
		transition:
			property: $prop
			duration: $animation-speed*4
			timing-function: ease-in-out

	&:hover
		box-shadow: 0 5px 5px rgba(black, 0.3)

		.product__img
			$rotate: 10deg
			$scale: 1
			transform: rotate($rotate) scale($scale)
			transform: rotate3d(0, 0, 1, $rotate) scale3d($scale, $scale, 1)
			transition:
				duration: $animation-speed*3

/* products preview / product end

/* products preview list
.products
	position: relative
	margin-bottom: 40px

	&:last-child
		margin-bottom: 0

.products__list
	+grid-parent(10px)
	+clear-spacing

.products__item
	+grid-item(3, 10px)
	letter-spacing: normal

	.product
		height: 100%

	+media('<mob-lg')
		+grid-item-responsive(2, 10px)

/* products preview list end

/* categories
.main-section--categories
	background-color: $base-color
	color: white
	+padding-vertical(40px, calc(50px - #{nth($similar-slider-space-inner, 3)}))

	+media('<mob-lg')
		+padding-vertical(35px, calc(40px - #{nth($similar-slider-space-inner, 3)}))

	.similar-slider__item
		color: $text-color

	//.product__title
		+truncate(100%)

.categories__tabs__nav
	text-align: center
	margin-bottom: calc(40px - #{nth($similar-slider-space-inner, 1)})
	+clear-spacing

	+media('<mob-md')
		margin-bottom: calc(32px - #{nth($similar-slider-space-inner, 1)})

	a
		display: inline-block
		vertical-align: top
		position: relative
		+font-alt-bold
		+font(2.4rem, round-float(30/24, 2))
		letter-spacing: normal
		color: white
		text-decoration: none
		border-radius: 10px
		padding: 10px 25px
		margin: 0 12px
		z-index: 1
		user-select: none
		-webkit-tap-highlight-color: transparent

		+media('<mob-lg')
			font-size: 1.6rem
			padding: 10px 23px
			margin: 0

		&::before, &::after
			content: ""
			display: block
			position: absolute
			opacity: 0
			z-index: -1
			pointer-events: none

		&::before
			left: 0
			top: 0
			+size(100%)
			border-radius: 10px
			background-color: #007485

		&::after
			left: 50%
			top: 100%
			margin: -1px 0 0 -10px
			+triangle('bottom', $color: #007485, $size: 10px, $kef: 1)

			+media('<mob-lg')
				margin: -1px 0 0 -8px
				+triangle('bottom', $color: #007485, $size: 8px, $kef: 1)

		span
			border-bottom: 1px solid white

		// hover
		.no-touchevents &:hover

			span
				border-bottom-color: transparent

		// active
		&.tabs--active
			color: $base-color-alt
			cursor: default

			&::before, &::after
				opacity: 1

			span
				border-bottom-color: transparent

.categories__tabs__panels
	position: relative
	z-index: 1

/* categories end

/* similar slider
// slider
.similar-slider
	position: relative
	margin-bottom: 2rem

	&:last-child
		margin-bottom: 0

	& + div
		padding-bottom: 10px

.similar-slider__list
	// before slide load
	white-space: nowrap
	overflow: hidden
	// before slide load end
	padding: 0 42px

	+media('<mob-lg')
		padding: 0 0 30px

	&, &.slick-dotted
		margin: 0

		+media('<mob-lg')
			+margin-horizontal(-5px)

	&.slick-initialized, .no-js &
		// after slide load
		white-space: normal
		overflow: visible
		// after slide load end

	.slick-track
		margin: 0

	.slick-prev
		left: 0

		.main-section--categories &::before
			background-image: url(../../img/slider-arr-left-white.svg)

	.slick-next
		right: 0

		.main-section--categories &::before
			background-image: url(../../img/slider-arr-right-white.svg)

	// dots
	.slick-dots
		bottom: 0
		left: 0

// slide
.similar-slider__item
	// before slide load
	float: none
	display: inline-block
	vertical-align: top
	// before slide load end
	padding: $similar-slider-space-inner

	+media('<mob-lg')
		+padding-horizontal(5px)

	.no-js &
		width: 320px

	.slick-initialized &
		// after slide load
		float: left
		display: block
		// after slide load end

	.product
		height: 100%

/* similar slider end

/* doc-catalog
.doc-catalog
	display: block
	position: relative
	width: $p-filters-width
	text-decoration: none
	border: 2px solid #ccc
	border-radius: 10px
	padding: 13px 13px 13px 77px
	background: none
	margin-bottom: 20px
	+font(1.4rem, round-float(18/14, 2))
	text-transform: uppercase
	color: inherit
	// transition
	$prop: border-color
	will-change: $prop
	transition:
		property: $prop
		duration: $animation-speed

	+media('<mob-lg')
		width: 100%

	.m-content &
		+media('>=tab-lg')
			display: none

	.m-aside &
		+media('<tab-lg')
			display: none

	&::before
		content: ""
		display: block
		position: absolute
		left: 18px
		top: 50%
		width: 40px
		height: 40px
		margin-top: -20px
		background: url(../../img/pdf.svg) no-repeat
		background-size: cover

	b, span
		display: block

	b
		+font-alt

	// hover
	.no-touchevents &:hover
		border-color: $link-color

/* doc-catalog end

/* m-container
.m-container
	display: flex
	margin-bottom: -#{nth($content-space, 3)} // перекрыть нижний отступ контента

	+media('<tab-lg')
		display: block
		margin-bottom: 0

// m-aside
.m-aside
	//width: $p-filters-width
	flex-shrink: 0
	flex-grow: 0
	flex-basis: $p-filters-width
	position: relative
	transition:
		property: transform
		duration: $animation-speed

	+media('<tab-lg')
		overflow: hidden // необходим для скрытия скролла
		position: fixed
		left: 0
		// ширину устанавливаем на основной
		// и вложенный контейнер,
		// чтобы корректно обрезать скролл
		width: $nav-width
		height: 100%
		padding-top: $header-height--sm
		bottom: 0
		background-color: $bg-color-alt
		z-index: 10000
		will-change: transform
		transform: translate(-100%, 0)
		transform: translateX(-100%)

		&.filters-is-open
			transform: translate(0, 0)
			transform: translateX(0)

	+media('<mob-lg')
		width: 100%

	.filters-results-show &
		padding-bottom: $p-filters-result-height

.m-aside__layout
	position: sticky
	overflow-x: hidden
	overflow-y: auto

	+media('<tab-lg')
		height: 100%
		position: relative !important // !important нужен, чтобы перебить стили назначенные скриптом
		top: 0 !important // !important нужен, чтобы перебить стили назначенные скриптом


	// for no touch screen
	.no-touchevents &
		overflow-y: hidden

		&:hover
			overflow-y: auto

	& > form
		+media('<tab-lg')
			width: $nav-width

		+media('<mob-lg')
			width: 100vw

.m-aside__options
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: $header-height--sm
	padding: $page-layout-space
	padding-right: $header-height--sm
	+font-alt-bold
	+font(1.8rem, round-float(24/18, 2))
	background-color: white
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16)

	+media('>=tab-lg')
		display: none

// filters close
.btn-filters-close, .btn-shutter-close
	display: block
	position: absolute
	+size($header-height--sm)
	top: 0
	right: 0
	color: $text-color
	background-color: white
	z-index: 10100
	// transition
	$prop: color
	transition:
		property: $prop
		duration: $animation-speed

	+media('<mob-lg')
		+padding-horizontal(15px)

	svg
		display: block
		+size(24px)
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)

	path
		fill: currentColor

	// hover
	.no-touchevents &:hover
		color: $link-color

// overlay for device

// m-content
.m-content
	display: flex
	flex-direction: column
	justify-content: space-between
	flex-shrink: 0
	flex-grow: 0
	flex-basis: calc(100% - #{$p-filters-width})
	//width: calc(100% - #{$p-filters-width})
	padding-left: nth($page-layout-space, 2)
	padding-bottom: nth($content-space, 3)
	margin-top: -43px

	+media('<tab-lg')
		padding-left: 0
		margin-top: 0
		padding-bottom: 0

	.heading
		margin-bottom: 10px

		& > *
			margin-bottom: 10px

.m-content__body
	position: relative
	flex-shrink: 1
	flex-grow: 1
	padding-bottom: 40px

	+media('<tab-lg')
		margin-top: 10px

.m-content__footer
	position: relative

/* m-container end

/* options panel
.p-options
	position: relative
	margin-bottom: 20px

	+media('<tab-lg')
		display: flex
		align-items: flex-start
		position: sticky
		top: $header-height--sm
		z-index: $z-i-cover
		background-color: $bg-color-alt
		padding: 10px #{nth($page-layout-space, 2)}
		margin: -10px -#{nth($page-layout-space, 2)} 0

	+media('<mob-lg')
		padding: 10px #{nth($page-layout-space--mob, 2)}
		margin: -10px -#{nth($page-layout-space--mob, 2)} 0

	&:last-child
		margin-bottom: 0

	& > *
		margin-right: 10px

		+media('<mob-lg')
			flex-shrink: 1
			flex-grow: 1
			flex-basis: 50%

// filters opener
.btn-filters
	display: block
	text-transform: none
	+font-alt-bold
	box-shadow: none

	+media('>=tab-lg')
		display: none

	+media('<mob-lg')
		min-width: 0

	& > em
		position: relative
		top: -5px
		+font-bold
		+font(14px, 18px)
		color: $base-color-alt

		&.hide
			display: none

// added / other filters
.p-filters-add
	margin: 0 -1px -10px
	+clear-spacing

	+media('<tab-lg')
		display: none

	a
		display: inline-block
		vertical-align: top
		padding: 2px 20px
		margin: 0 2px 10px
		border: 2px solid transparent
		text-decoration: none
		+font(1.8rem, 22px)
		letter-spacing: normal
		color: $link-color
		text-align: center
		border-radius: 10px
		// transition
		$prop: border-color, background-color
		will-change: $prop
		transition:
			property: $prop
			duration: $animation-speed

		// hover
		.no-touchevents &:hover
			border-color: $link-color

		// active
		&.active
			background-color: $link-color
			color: white
			cursor: default

// added / other filters for mobile
.select.p-filters-add
	margin: 0
	display: none
	max-width: 210px

	+media('<tab-lg')
		display: block

	+media('<mob-lg')
		max-width: none

	&::before
		+triangle(bottom, $text-color, 5px, 1)
		right: 12px
		transform: none
		background: none
		margin-top: -3px

	&::after
		content: none

	select
		height: 40px
		border-radius: 10px
		font-size: 18px
		line-height: 20px
		padding: 8px 30px 8px 8px

/* options panel end

/* products filters
// filters list
.p-filters-list
	margin-bottom: $bottom-space
	padding-bottom: 20px

	+media('<tab-lg')
		padding: $page-layout-space

	&:last-child
		margin-bottom: 0

// filters item
.p-filters-item
	position: relative
	margin-bottom: 20px
	will-change: transform

	&:last-child
		margin-bottom: 0

// filter head
.p-filters-select
	margin-bottom: 20px

.p-filters-head
	position: relative
	cursor: pointer
	padding: $p-filters-space
	padding-right: nth($p-filters-space, 2) + $p-filters-angle-size + 10
	+font-alt-bold
	+font(1.8rem, round-float(24/18, 2))
	color: white
	background-color: $base-color
	border-radius: 10px
	user-select: none
	-webkit-tap-highlight-color: transparent

// angle
.p-filters-angle
	display: block
	position: absolute
	right: nth($p-filters-space, 2)
	top: 50%
	+size($p-filters-angle-size)
	border-radius: $p-filters-angle-size
	margin-top: -#{round($p-filters-angle-size/2)}
	background-color: white
	box-shadow: 0 3px 3px rgba(black, 0.15)

	&::before, &::after
		+pseudo()
		left: 50%
		top: 50%
		+size(nth($p-filters-angle-lines-size, 1), nth($p-filters-angle-lines-size, 2))
		margin: -#{round(nth($p-filters-angle-lines-size, 2)/2)} 0 0 -#{round(nth($p-filters-angle-lines-size, 1)/2)}
		background-color: $p-filters-angle-lines-color
		will-change: transform
		transition:
			property: transform
			duration: $animation-speed

	&::before
		transform: rotate(-0.25turn)
		transform: rotate(-0.25turn) translateZ(0)

	// active
	.is-open &
		&::before, &::after
			transform: rotate(0)
			transform: rotate(0) translateZ(0)

.p-filters-drop
	position: relative
	overflow: hidden
	// transition
	$prop: max-height
	will-change: $prop
	transition:
		property: $prop
		duration: $animation-speed

	.is-open &
		max-height: 500px

.p-filters-drop-list
	transform: translate(0, -20px)
	opacity: 0
	max-height: 0
	// transition
	$prop: transform, opacity, max-height
	will-change: $prop
	transition:
		property: $prop
		duration: $animation-speed

	.is-open &
		opacity: 1
		max-height: inherit
		transform: translate(0, 0)

	&, .#{$user-content} &
		margin: 0

		li
			position: relative
			padding-left: 0
			margin: 0 0 8px

			&::before
				content: none

			&:last-child
				margin-bottom: 0

			&.has-slider
				margin-bottom: 20px

			&.add-slider
				padding-right: 80px

				label
					display: inline-block
					vertical-align: top

	label
		display: block
		margin: 0

		[type="checkbox"]:checked
			& ~ span
				+font-bold
				color: #000

		.no-touchevents &:hover
			& > span
				color: $link-color

/* products filters end

/* filters-results
.p-filters__results
	display: flex
	flex-direction: column
	justify-content: space-between
	position: absolute
	bottom: 0
	height: $p-filters-result-height
	width: calc(#{$p-filters-width} + #{nth($page-layout-space, 2)})
	margin-left: -#{#{nth($page-layout-space, 2)}}
	padding: $p-filters-space
	background-color: #fff
	opacity: 0
	visibility: hidden
	pointer-events: none
	$prop: opacity, visibility
	will-change: $prop
	transition:
		property: $prop
		duration: $animation-speed
		//delay: 0.5s

	+media('<tab-lg')
		position: absolute
		margin-left: 0
		width: $nav-width
		padding: 10px nth($page-layout-space, 2)

	+media('<mob-lg')
		width: 100vw

	.filters-results-show &
		opacity: 1
		visibility: visible
		pointer-events: auto
		transition:
			delay: 0s

	.filters-result-fixed &
		position: fixed

	.results-loading
		+size(100%)
		display: flex
		align-items: center
		justify-content: center
		position: absolute
		left: 0
		top: 0
		+font(1.8rem, round-float(24/18, 2))
		color: white
		text-align: center
		z-index: 5
		background-color: rgba(153, 153, 153, 1)
		opacity: 0
		visibility: hidden
		transition:
			property: opacity, visibility
			duration: $animation-speed

		.js-loading &
			opacity: 1
			visibility: visible

// filters results buttons
.p-filters__results__btns
	display: flex
	justify-content: stretch

	[class*="btn-"]
		flex-shrink: 1
		flex-grow: 1
		min-width: 0
		+font(1.6rem, round-float(20/16, 2))
		padding: 9px 12px 7px

		&:first-child
			margin-right: 15px

			//+media('>=tab-lg')
				display: none

// filters results counter
.p-filters-results__count
	+font(12px, round-float(16/12, 2))
	text-align: center

	+media('<tab-lg')
		text-align: left
		padding-left: 22.5%

/* filters-results end

/* filters preloader
.loader-cover
	height: 100%
	width: 100%
	position: absolute
	left: 0
	top: 0
	z-index: 5
	background-color: rgba(255, 255, 255, 0.50)
	opacity: 0
	visibility: hidden
	transition:
		property: opacity, visibility
		duration: $animation-speed

	+media('<tab-lg')
		position: fixed
		z-index: 10100

	.js-loading &
		opacity: 1
		visibility: visible

	&::before
		$loader-size: 120px
		// ==================
		content: ""
		display: block
		position: fixed
		left: 50%
		top: 50%
		+size($loader-size)
		transform: translate(-50%, -50%)
		background-image: url(../../img/preloader.svg)
		background-repeat: no-repeat
		background-position: center
		background-size: contain

/* filters preloader end

/* card
.p-card
	+clear

// visual, content
.p-card__visual, .p-card__content
	+padding-horizontal(nth($page-layout-space, 2))
	padding-bottom: 40px

// visual
.p-card__visual
	float: left
	width: 50%
	padding-left: 0

	+media('<tab-lg')
		float: none
		width: auto
		max-width: 600px
		padding-right: 0
		margin-left: auto
		margin-right: auto

.p-card__gallery
	margin-bottom: 30px

// content
.p-card__content
	float: left
	width: 50%
	padding-right: 0

	+media('<tab-lg')
		float: none
		width: auto
		padding-left: 0
		padding-bottom: 0

.p-card__title
	margin-bottom: 4rem

	&:last-child
		margin-bottom: 0

	h1, h2
		+font($font-size-h1, $line-height-h1)
		margin-bottom: 2rem

		+media('<mob-lg')
			+font($font-size-h1--mob, $line-height-h1--mob)

		&:last-child
			margin-bottom: 0

.p-card__series
	+font(1.6rem, round-float(24/16, 2))
	margin-bottom: 4rem

	&:last-child
		margin-bottom: 0

.p-card__widget
	margin-bottom: 40px

	&:last-child
		margin-bottom: 0

	ul
		line-height: round-float(24/18, 2)

		&:last-child
			margin-bottom: 0

		li
			margin-bottom: 4px

			&:before
				margin-top: 0.5em

.p-card__widget__title
	display: block
	+font($font-size-h3, $line-height-h3)
	margin-bottom: 0.8em

	+media('<mob-lg')
		+font($font-size-h3--mob, $line-height-h3--mob)

.info-list
	&, .user-content &
		margin: 0
		padding: 0

		li
			padding-left: 0
			margin-bottom: 4px

			&:last-child
				margin-bottom: 0

			&::before
				content: none

	li
		$shape-color: white
		$width-left: 32%
		$width-left--mob: 50%
		position: relative
		overflow: hidden

		& > div
			position: relative
			display: inline-block
			vertical-align: top
			+padding-horizontal(10px)
			background-color: $shape-color

			&:first-child
				padding-left: 0
				float: left
				max-width: calc(#{$width-left} - 20px)
				z-index: 2

				+media('<mob-lg')
					max-width: calc(#{$width-left--mob} - 20px)

			&:last-child
				padding-right: 0
				float: right
				width: calc(100% - #{$width-left} + 10px)
				z-index: 1

				+media('<mob-lg')
					width: calc(100% - #{$width-left--mob} + 10px)

				&::before, &::after
					content: ""
					display: block
					position: absolute

				&::before
					left: 0
					top: 0
					width: 100%
					height: 100%
					background-color: $shape-color
					z-index: -1

				&::after
					right: 0
					top: 16px
					width: 1000px
					border-top: 1px dashed #ccc
					height: 1px
					z-index: -2

.p-card__widget.lang
	border-top: 2px solid $border-color
	padding-top: 15px

.lang__list
	overflow: hidden

	ul
		+clear-spacing
		margin: -20px 0 0
		padding: 0

		li
			display: inline-block
			vertical-align: top
			margin: 20px 0 0
			padding: 0 20px 0 0
			width: 100px
			+font(1.4rem, 30px)
			letter-spacing: normal
			text-transform: uppercase
			white-space: nowrap

			&:before
				content: none

	img
		display: inline-block
		width: 30px
		height: 30px
		margin-right: 5px
		border: 1px solid $border-color
		border-radius: 15px

//.p-card__sep
	height: 2px
	line-height: 0
	font-size: 0
	background-color: $border-color
	margin-bottom: 4rem

/* card end

/* section
.section
	background-color: $bg-color-alt
	+padding-vertical(40px, calc(50px - #{nth($similar-slider-space-inner, 3)}))

	+media('<mob-lg')
		+padding-vertical(35px, calc(40px - #{nth($similar-slider-space-inner, 3)}))

	& + &
		border-top: 1px solid $border-color

.section__title
	margin-bottom: calc(40px - #{nth($similar-slider-space-inner, 1)})

	+media('<mob-lg')
		margin-bottom: calc(32px - #{nth($similar-slider-space-inner, 1)})

	h2, h3
		margin: 0

/* section end

/* news
.news
	margin-bottom: 4rem

	&:last-child
		margin-bottom: 0

.news__list
	position: relative

.news__item
	margin: 0 0 20px

	&:last-child
		margin-bottom: 0

.news__item__inner
	position: relative
	display: block
	padding: nth($grid-space, 1) nth($grid-space, 2)
	text-decoration: none
	background-color: white
	border-radius: 10px
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1)
	color: inherit
	//+font(1.6rem, round-float(24/16, 2))

	+media('<mob-lg')
		padding: nth($grid-space--mob, 1) nth($grid-space--mob, 2)

	+clear

.news__item__figure
	position: relative
	overflow: hidden
	float: left
	width: 252px
	margin: 0 nth($grid-space, 2) 0 0
	padding: 0
	border-radius: 10px

	+media('<tab-lg')
		width: 180px

	+media('<mob-lg')
		width: 120px
		margin-right: nth($grid-space--mob, 2)

	+media('<mob-md')
		display: none

	&::before
		content: ""
		display: block
		+ratio(1, 1)

	img
		position: absolute
		left: 0
		top: 0
		max-width: none
		width: 100%
		height: 100%
		object-fit: scale-down

.news__item__body
	overflow: hidden
	padding-bottom: 52px // line height footer (more link) + 20px

	time
		display: block
		margin-bottom: 1.43em
		+font-bold
		+font(1.4rem, round-float(24/14, 2))
		color: $text-color-light
		text-transform: uppercase

.news__item__title
	+font-alt-bold
	+font($font-size-h2, $line-height-h2)
	color: $base-color
	margin-bottom: 0.83em

	+media('<mob-lg')
		+font($font-size-h2--mob, $line-height-h2--mob)

.news__item__cont
	p
		&:last-child
			margin-bottom: 0

.news__item__footer
	position: absolute
	right: 0
	bottom: 0
	padding: 0 nth($grid-space, 2) nth($grid-space, 1) 0
	line-height: 32px

	+media('<mob-lg')
		padding: 0 nth($grid-space--mob, 2) nth($grid-space--mob, 1) 0

.news__item__more
	text-transform: uppercase
	font-size: 1.6rem

	+media('<mob-lg')
		font-size: 1.4rem

// hover
.news__item__inner
	&
		// transition
		$prop: box-shadow
		transition:
			property: $prop
			duration: $animation-speed

	.news__item__more
		// transition
		$prop: color
		transition:
			property: $prop
			duration: $animation-speed

	.no-touchevents &:hover
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3)

		.news__item__more
			color: $base-color

/* news end

/* locate
.locate
	position: relative
	overflow: hidden
	min-height: 420px
	border-radius: 10px
	background-color: white

	+media('<mob-lg')
		min-height: 50px

.contacts
	position: absolute
	left: 0
	top: 0
	width: $contacts-aside-width
	height: 100%
	padding: $grid-space

	+media('<tab-lg')
		width: $contacts-aside-width--sm

	+media('<mob-lg')
		position: relative
		left: auto
		top: auto
		width: auto
		padding: $grid-space--mob

	address
		+font-normal
		margin-bottom: 2rem

.local-map
	position: absolute
	top: 0
	left: $contacts-aside-width
	width: calc(100% - #{$contacts-aside-width})
	height: 100%
	background: #a2daf2

	+media('<tab-lg')
		left: $contacts-aside-width--sm
		width: calc(100% - #{$contacts-aside-width--sm})

	+media('<mob-lg')
		position: relative
		left: auto
		top: auto
		width: auto

	//&:before
		content: ""
		display: none
		+ratio(1, 1)

		+media('<mob-lg')
			display: block

	img
		max-width: none
		width: 100%
		height: 100%
		+object-fit(cover)

/* locate end

/* enquiry
.enquiry
	background-color: $base-color
	color: white

	h2, h3
		color: inherit

	textarea
		min-height: $form-input-height * 3 + $form-bottom-space * 2
		height: $form-input-height * 3 + $form-bottom-space * 2

/* enquiry end

/* request
.shutter--request
	display: none
	position: fixed
	left: 0
	top: 0
	z-index: 10000
	width: 100%
	height: 100%

	&.request-is-open
		display: block

.shutter__layout
	height: 100%
	padding: 0 nth($page-layout-space, 2)
	overflow-x: hidden
	overflow-y: auto
	text-align: center

	+media('<mob-lg')
		padding: 0 nth($page-layout-space--mob, 2)

	&::before, &::after
		content: ""
		display: inline-block
		vertical-align: middle
		height: 100%
		width: 0

.shutter__align
	display: inline-block
	width: calc(100% - 10px)
	position: relative
	margin: nth($page-layout-space, 1) 0
	text-align: left
	vertical-align: middle

	+media('<mob-lg')
		margin: nth($page-layout-space--mob, 1) 0

.shutter__holder
	position: relative
	padding: 40px 0
	background-color: #fff
	width: $page-layout-width
	max-width: 100%
	margin: 0 auto

	.shutter--request &
		width: 800px

	+media('<mob-lg')
		padding-bottom: 20px

/* request end

/* search
.search-page
	margin: 0 auto
	max-width: $text-layout-width

	form
		margin-bottom: $bottom-space

.search-page__item
	+clear

	img
		float: left
		display: block
		max-width: 100%
		width: 160px
		margin: 5px 20px 5px 0

		+media('<mob-md')
			width: 120px

		+media('<360px')
			float: none
			margin: 20px 0 10px

		& ~ *:not(a)
			display: block
			margin-left: 180px

			+media('<mob-md')
				margin-left: 140px

			+media('<360px')
				margin-left: 0

/* search end

/* projects page
.projects-page
	background-color: $base-color

	.wrapper
		background-color: $base-color
		box-shadow: none

	.main
		padding: 0
		display: flex
		flex-shrink: 1
		flex-grow: 1
		flex-direction: column
		justify-content: center

.projects
	overflow: hidden
	color: #fff
	text-align: center
	background-color: $base-color

	h1, h2, h3
		padding: 0
		+font-alt-bold
		color: #fff
		margin: 0 0 0.8em

		&:last-child
			margin-bottom: 0

		a
			text-decoration: none
			color: currentColor

			.no-touchevents &:hover
				color: $base-color
				text-decoration: underline

	h1
		+font(6.0rem, round-float(82/64, 2))
		margin-bottom: 2rem

		+media('<tab-sm')
			+font(3.6rem, 1.2)

	h2
		+font(2.6rem, round-float(38/30, 2))

		+media('<tab-sm')
			+font(2.2rem, 1.3)

	h3
		+font($font-size-h3, $line-height-h3)

		+media('<mob-lg')
			+font($font-size-h3--mob, $line-height-h3--mob)

.projects__layout
	//width: $page-layout-width
	width: 860px
	max-width: 100%
	+push-auto
	padding: nth($content-space, 1) nth($page-layout-space, 2)
	margin-bottom: 4rem

	+media('<mob-lg')
		padding: nth($content-space, 1) nth($page-layout-space--mob, 2)

	&:last-child
		margin-bottom: 0

.projects__caption
	margin-bottom: 6rem

	+media('<desk-sm')
		margin-bottom: 4rem

	+media('<mob-lg')
		margin-bottom: 3rem

	&:last-child
		margin-bottom: 0

.projects__list
	+clear-spacing
	margin: 0 -3rem
	box-sizing: border-box

	+media('<desk-sm')
		margin: 0 -2rem

	+media('<mob-lg')
		margin: 0 -1.5rem

.projects__item
	display: inline-block
	vertical-align: top
	width: 50%
	box-sizing: border-box
	padding: 4rem 3rem 0
	font-size: $font-size
	letter-spacing: normal

	+media('<desk-sm')
		padding: 3rem 2rem 0

	+media('<tab-lg')
		padding: 2rem 1.5rem 0

	&:nth-child(-n+2)
		padding-top: 0

.projects__inner
	display: block
	text-decoration: none
	color: inherit

	perspective: 1000px

	img
		display: block
		width: 100%

.projects__inner__holder
	// transition
	$prop: transform
	will-change: $prop
	transition:
		property: $prop
		duration: 0.6s
	//timing-function: cubic-bezier(0.65, 0.05, 0.36, 1)
	transform-style: preserve-3d

.projects__title
	min-height: 100px
	padding: 0 20%

	+media('<mob-lg')
		min-height: 90px

	+media('<mob-md')
		min-height: 65px

	img
		width: auto
		max-width: 100%
		margin: 0 auto

// hover
.projects__inner:hover
	$angle: 15deg

	.projects__item:nth-child(n) & .projects__inner__holder
		transform: rotateY($angle)

	.projects__item:nth-child(2n) & .projects__inner__holder
		transform: rotateY(-$angle)

/* projects page end